/* Elements */
* {
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

html {
    height: 100.1%;
    line-height: .9em;
}

body {
    font-size: 13px;
    background: #888272 url(../images/bg2.png) repeat-x;
    font-family: Tahoma, Arial, Geneva;
    color: #516c82;
    margin: 0px auto 0 auto;
    text-align: left;
    line-height: 1.1em;
}

a {
    color: #efc82d;
    text-decoration: underline;
}

a:hover {
    color: #e1762a;
    text-decoration: underline;
}

a.alter-link:link {
    color: #c2b88c;
    text-decoration: underline;
}

a.alter-link:visited {
    color: #c2b88c;
    text-decoration: underline;
}

a.alter-link:hover {
    color: #e1762a;
    text-decoration: underline;
}

a.alter-link3:link {
    color: #d7d1bf;
    font-size: 9px;
    text-decoration: underline;
}

a.alter-link3:visited {
    color: #d7d1bf;
    font-size: 9px;
    text-decoration: underline;
}

a.alter-link3:hover {
    color: #e1762a;
    font-size: 9px;
    text-decoration: underline;
}



/* Classes */
.alter-text {
    color: #dfddd5;
}

.category {
    background: #254055;
    padding: 10px;
    width: 392px;
    border: #a2aeb8 1px solid;
    height: 100%;
    color: #ebe8e3;
}

.category-left {
    background: #254055;
    padding: 10px;
    width: 392px;
    border: #a2aeb8 1px solid;
    height: 100%;
    color: #ebe8e3;
    float: left;
}

.category-right {
    background: #254055;
    padding: 10px;
    width: 392px;
    border: #a2aeb8 1px solid;
    height: 100%;
    color: #ebe8e3;
    float: right;
}

.category2 {
    background: #243f54;
    padding: 10px;
    width: 812px;
    border: #a2aeb8 double;
    height: 100%;
    color: #ebe8e3;
}

.category3 {
    background: #243f54;
    padding: 10px;
    width: 812px;
    border: #a2aeb8 double;
    height: 103px;
    color: #ebe8e3;
}

.gallery-outer {
    background: #646055;
    border: 1px solid #807f7c;
    padding-right: 46px;
    padding-left: 46px;
}

.home-content {
    color: #afae9f;
    padding-right: 10px;
    padding-left: 40px;
    padding-bottom: 4px;
    width: 610px;
    overflow: auto;
    height: 298px;
}

.headline {
    color: #d6d1c4;
    font-size: 18px;
    font-weight: bold;
}

.int-content {
    color: #cbc9c3;
    padding-right: 10px;
    padding-left: 52px;
    padding-bottom: 10px;
    width: 834px;
}

.interior-box {
    background: #393732;
    color: #fff;
    border: solid 1px #5b5850;
    padding: 10px;
    line-height: 1.2em;
    width: 596px;
}

.int-nav-area {
    color: #D3A432;
    font-size: 18px;
    font-weight: bold;
    padding-top: 48px;
    padding-left: 80px;
    float: left;
}

.image-outer {
    border: 1px solid #9a9996;
    margin-left: 4px;
    margin-bottom: 2px;
}

.image-outer2 {
    border: 2px solid #9a9996;
    margin-right: 4px;
    margin-bottom: 2px;
}

.low-text {
    color: #d7d1bf;
    font-size: .85em;
    padding-top: 2px;
    padding-right: 69px;
    padding-bottom: 10px;
    padding-left: 44px;
    font-weight: bold;
}

.low-links {
    color: #776C5A;
    font-size: .8em;
    padding-top: 2px;
    padding-left: 188px;
    text-align: right;
    font-weight: bold;
}

.low-links2 {
    color: #776C5A;
    font-size: .8em;
    padding-top: 2px;
}

.ministries {
    color: #79786d;
    padding: 0 10px 10px 42px;
    width: 615px;
}

.mainPic {
    border: 1px solid #83744d;
}

.photoScroll {
    padding: 35px 8px 0 22px;
    width: 540px;
    height: 70px;
}



/* IDs */
#container1 {
    width: 939px;
    height: 248px;
}

#container2 {
    width: 939px;
    height: 483px;
}

#content-box {
    background: url("/vbbc/templates/newtemplate/images/content-box.png") no-repeat;
    width: 681px;
    height: 483px;
    float: left;
}

#events-section {
    background: url("/vbbc/templates/newtemplate/images/events-section.png") no-repeat scroll 0 0 transparent;
    height: 132px;
    width: 258px;
}

#footer {
    background: url("/vbbc/templates/newtemplate/images/footer.png") no-repeat;
    width: 939px;
    height: 118px;
}

#int-top-slice {
    background: url(/vbbc/templates/newtemplate/images//int-top-slice.png) no-repeat;
    width: 968px;
    height: 42px;
}

#int-stretch-slice {
    background: url(/vbbc/templates/newtemplate/images//int-stretch-slice.png) repeat-y;
    width: 939px;
    height: 100%;
    overflow: hidden;
}

#int-bottom-slice {
    background: url(/vbbc/templates/newtemplate/images/int-bottom-slice.png) no-repeat;
    width: 939px;
    height: 38px;
}

#int-footer {
    background: url(/vbbc/templates/newtemplate/images/int-footer.png) repeat-x;
    width: 100%;
    height: 100px;
}

#logo {
    background: url(/vbbc/templates/newtemplate/images/logo-blank.png) no-repeat;
    width: 527px;
    height: 248px;
    float: left;
    text-align: center;
}

#logo .site-title {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 35px;
    font-stretch: wider;
    color: #FFF;
    font-weight: bold;
    padding-top: 103px;
    text-shadow: 0px 3px 3px black;
    text-transform: capitalize;
}

#logo .site-title a {
    color: #FFF;
    text-decoration: none;
}

#logo .site-description {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-style: italic;
    color: #f3f298;
    font-weight: normal;
    padding-top: 20px;
    text-shadow: 0px 3px 3px black;
}

#nav-bar {
    background: url(/vbbc/templates/newtemplate/images/nav-bar.png) no-repeat;
    width: 939px;
    height: 48px;
    color: #D3A432;
    font-size: 18px;
    font-weight: bold;
    padding-top: 23px;
    padding-left: 46px;
}

#nav-bar li {
    float: left;
    list-style: none;
    margin-right: 20px;
}

#nav-bar li a:link {
    color: #f4f4f4;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

#nav-bar li a:visited {
    color: #f4f4f4;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

#nav-bar li a:hover {
    color: #f3dc8c;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

#nav-bar li ul {
    display: none;
}

#newcomers-section {
    background: url("/vbbc/templates/newtemplate/images/newcomers-section.png") no-repeat scroll 0 0 transparent;
    height: 350px;
    width: 258px;
}

#photo-frame {
    background: url(/vbbc/templates/newtemplate/images/photo-frame.png) no-repeat;
    width: 412px;
    height: 248px;
    float: right;
}

#photoGallery {
    height: 478px;
    width: 575px;
    background: url(/vbbc/templates/newtemplate/images/photo-bg.jpg) repeat-x;
    overflow: auto;
}

#photoGallery img {
    margin: 0 2px 0 0;
    border: 1px solid #807f7c;
}

#right-side {
    width: 258px;
    height: 483px;
    float: right;
}

#wrapper {
    width: 939px;
    margin: 0 auto;
    overflow: hidden;
}